# 4. Grouping and Sorting
---
### 4.1. Grouping
---

In [1]:
import pandas as pd
battles_got = pd.read_csv('datasets/battles.csv')
pd.set_option('max_rows', 5)
battles_got

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Lannister,NaN,NaN,Blackwood,...,0.0,1.0,1500.0,NaN,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0.0,Raventree,The Riverlands,NaN
37,Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Karstark,Mormont,Glover,Bolton,...,NaN,NaN,5000.0,8000.0,Stannis Baratheon,Roose Bolton,0.0,Winterfell,The North,NaN

Sometimes we want to group our data to do something specific. To do this, we can use the `groupby` operation.

For example, we can replicate what `value_counts` does using `groupby` by doing the following:

In [2]:
battles_got.groupby('attacker_king').attacker_king.count()

attacker_king
Balon/Euron Greyjoy          7
Joffrey/Tommen Baratheon    14
Robb Stark                  10
Stannis Baratheon            5
Name: attacker_king, dtype: int64

In this case, we created a group and counted how many times each value appears.

`value_counts` is just a shortcut to this `groupby` operation. We can also use any of the summary functions with groups.

In [3]:
battles_got.groupby('attacker_king').attacker_size.min()

attacker_king
Balon/Euron Greyjoy           20.0
Joffrey/Tommen Baratheon     618.0
Robb Stark                   100.0
Stannis Baratheon           4500.0
Name: attacker_size, dtype: float64

We also can use the `apply` method to manipulate the data in any way we see fit. For example, here's one way of selecting the first battle in which kings attacked.

In [4]:
battles_got.groupby('attacker_king').apply(lambda df: df.battle_number.iloc[0])

attacker_king
Balon/Euron Greyjoy          8
Joffrey/Tommen Baratheon     1
Robb Stark                   4
Stannis Baratheon           16
dtype: int64

You can also group by more than one column. For example, here's how we would know which was the first battle in which the attacker or defender kings participated.

In [5]:
battles_got.groupby(['attacker_king', 'defender_king']).apply(lambda df: df.loc[df.battle_number.idxmax()])

                                                                                           name  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy                                Sack of Torrhen's Square
                    Joffrey/Tommen Baratheon  Invasion of Ryamsport, Vinetown, and Starfish ...
...                                                                                         ...
Stannis Baratheon   Mance Rayder                                         Battle of Castle Black
                    Renly Baratheon                                        Siege of Storm's End

                                              year  battle_number  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy        299             13
                    Joffrey/Tommen Baratheon   300             33
...                                            ...            ...
Stannis Baratheon   Mance Rayder               300             28
                    Renly Baratheon            299             16

                                                    attacker_king  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy       Balon/Euron Greyjoy
                    Joffrey/Tommen Baratheon  Balon/Euron Greyjoy
...                                                           ...
Stannis Baratheon   Mance Rayder                Stannis Baratheon
                    Renly Baratheon             Stannis Baratheon

                                                         defender_king  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy            Balon/Euron Greyjoy
                    Joffrey/Tommen Baratheon  Joffrey/Tommen Baratheon
...                                                                ...
Stannis Baratheon   Mance Rayder                          Mance Rayder
                    Renly Baratheon                    Renly Baratheon

                                             attacker_1 attacker_2 attacker_3  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy         Greyjoy        NaN        NaN
                    Joffrey/Tommen Baratheon    Greyjoy        NaN        NaN
...                                                 ...        ...        ...
Stannis Baratheon   Mance Rayder              Free folk     Thenns     Giants
                    Renly Baratheon           Baratheon        NaN        NaN

                                             attacker_4     defender_1 ...   \
attacker_king       defender_king                                      ...
Balon/Euron Greyjoy Balon/Euron Greyjoy             NaN          Stark ...
                    Joffrey/Tommen Baratheon        NaN         Tyrell ...
...                                                 ...            ... ...
Stannis Baratheon   Mance Rayder                    NaN  Night's Watch ...
                    Renly Baratheon                 NaN      Baratheon ...

                                             major_death  major_capture  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy              0.0            1.0
                    Joffrey/Tommen Baratheon         0.0            0.0
...                                                  ...            ...
Stannis Baratheon   Mance Rayder                     1.0            1.0
                    Renly Baratheon                  1.0            0.0

                                              attacker_size defender_size  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy                 NaN           NaN
                    Joffrey/Tommen Baratheon            NaN           NaN
...                                                     ...           ...
Stannis Baratheon   Mance Rayder                   100000.0        1240.0
                    Renly Baratheon                  5000.0       20000.0

                                                                             attacker_commander  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy                                         Dagmer Cleftjaw
                    Joffrey/Tommen Baratheon                   Euron Greyjoy, Victarion Greyjoy
...                                                                                         ...
Stannis Baratheon   Mance Rayder              Mance Rayder, Tormund Giantsbane, Harma Dogshe...
                    Renly Baratheon                           Stannis Baratheon, Davos Seaworth

                                                                             defender_commander  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy                                                     NaN
                    Joffrey/Tommen Baratheon                                                NaN
...                                                                                         ...
Stannis Baratheon   Mance Rayder              Stannis Baratheon, Jon Snow, Donal Noye, Cotte...
                    Renly Baratheon           Renly Baratheon, Cortnay Penrose, Loras Tyrell...

                                              summer  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy          1.0
                    Joffrey/Tommen Baratheon     0.0
...                                              ...
Stannis Baratheon   Mance Rayder                 0.0
                    Renly Baratheon              1.0

                                                                          location  \
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy                           Torrhen's Square
                    Joffrey/Tommen Baratheon  Ryamsport, Vinetown, Starfish Harbor
...                                                                            ...
Stannis Baratheon   Mance Rayder                                      Castle Black
                    Renly Baratheon                                    Storm's End

                                                       region note
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy             The North  NaN
                    Joffrey/Tommen Baratheon        The Reach  NaN
...                                                       ...  ...
Stannis Baratheon   Mance Rayder              Beyond the Wall  NaN
                    Renly Baratheon            The Stormlands  NaN

[12 rows x 25 columns]

Another `groupby` method is `agg`, that lets you run different functions pointing to your `DataFrame` simultaneously. For example, we can generate a summary table containing statistical information of the dataset as follows:

In [6]:
battles_got.groupby(['attacker_king']).attacker_size.agg([len, min, max])

                           len     min       max
attacker_king
Balon/Euron Greyjoy        7.0    20.0    1000.0
Joffrey/Tommen Baratheon  14.0   618.0   20000.0
Robb Stark                10.0   100.0   18000.0
Stannis Baratheon          5.0  4500.0  100000.0

A good use of `groupby` method will allow you to manipulate your dataset making really useful things.

### 4.2. Multi-indexes
---
In all the examples shown before we've been working with `DataFrame` or `Series` objects with a single-label index. With the `groupby` method, depending on the operation we run, the result will sometimes be a multi-index.

A multi-index is an index that has multiple levels. For example:

In [7]:
first_battles = battles_got.groupby(['attacker_king', 'defender_king']).name.agg([len])
first_battles

                                              len
attacker_king       defender_king
Balon/Euron Greyjoy Balon/Euron Greyjoy         1
                    Joffrey/Tommen Baratheon    2
...                                           ...
Stannis Baratheon   Mance Rayder                1
                    Renly Baratheon             1

[12 rows x 1 columns]

In [8]:
mi = _.index
type(mi)

pandas.core.indexes.multi.MultiIndex

Multi-indexes have several methods for dealing with their structure whith are absent for single-level indexes. They require two levels of labels to retrieve a value.

You can follow the detailed instructions of the `MultiIndex` method in the [MultiIndex / Advanced Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html) section of the `pandas` documentation.

However, there's a `reset_index` method, often used for converting back to a regular index.

In [9]:
first_battles.reset_index()

          attacker_king             defender_king  len
0   Balon/Euron Greyjoy       Balon/Euron Greyjoy    1
1   Balon/Euron Greyjoy  Joffrey/Tommen Baratheon    2
..                  ...                       ...  ...
10    Stannis Baratheon              Mance Rayder    1
11    Stannis Baratheon           Renly Baratheon    1

[12 rows x 3 columns]

### 4.3. Sorting
---
The `groupby` method returns the data in index order. We can also order the data depending on values using the `sort_values` method.

In [10]:
first_battles = first_battles.reset_index()
first_battles.sort_values(by='len')

               attacker_king             defender_king  len
0        Balon/Euron Greyjoy       Balon/Euron Greyjoy    1
3   Joffrey/Tommen Baratheon       Balon/Euron Greyjoy    1
..                       ...                       ...  ...
7                 Robb Stark  Joffrey/Tommen Baratheon    9
4   Joffrey/Tommen Baratheon                Robb Stark   10

[12 rows x 3 columns]

The `sort_values` method orders by default the data in an ascending sort, but we can also order the data in a descending sort by indicating with a parameter.

In [11]:
first_battles.sort_values(by='len', ascending=False)

               attacker_king             defender_king  len
4   Joffrey/Tommen Baratheon                Robb Stark   10
7                 Robb Stark  Joffrey/Tommen Baratheon    9
..                       ...                       ...  ...
10         Stannis Baratheon              Mance Rayder    1
11         Stannis Baratheon           Renly Baratheon    1

[12 rows x 3 columns]

To sort by index values you just have to use the `sort_index` method. This method has a default order.

In [12]:
first_battles.sort_index()

          attacker_king             defender_king  len
0   Balon/Euron Greyjoy       Balon/Euron Greyjoy    1
1   Balon/Euron Greyjoy  Joffrey/Tommen Baratheon    2
..                  ...                       ...  ...
10    Stannis Baratheon              Mance Rayder    1
11    Stannis Baratheon           Renly Baratheon    1

[12 rows x 3 columns]

You can also order the data by more than one column at a time.

In [13]:
first_battles.sort_values(by=['defender_king', 'len'])

               attacker_king        defender_king  len
0        Balon/Euron Greyjoy  Balon/Euron Greyjoy    1
3   Joffrey/Tommen Baratheon  Balon/Euron Greyjoy    1
..                       ...                  ...  ...
4   Joffrey/Tommen Baratheon           Robb Stark   10
5   Joffrey/Tommen Baratheon    Stannis Baratheon    2

[12 rows x 3 columns]